body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.top-nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 6px;
    margin: 0;
    box-sizing: border-box;
    flex-shrink: 0;
}

.push {
    margin-left: auto;
}

.top-nav li {
    padding: 5px;
    margin: 0 5px;
}

.top-nav a {
    padding: 5px;
    margin: 0 5px;
    color: #222;
    text-decoration: none;
}

.top-nav a:hover {
    text-decoration: underline;
}

#right-nav {
    float: inline-start;
}

#apps-icon {
    height: 25px;
    opacity: 0.75;
}

#profile-pic {
    border-radius: 50%;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 272px;
    height: 92px;
}

.search-bar {
    position: relative;
    display: flex;
    border-radius: 200px;
}

.search-bar input {
    height: 40px;
    width: auto;
    border: 1px solid #dfe1e5;
    border-radius: 25px;
}

.search-icon {
position: absolute;
height: 20px;
width: 20px;
opacity: 0.5;
}

input[type="submit"] {
    background-color: #f8f9fa;
    border: none;
    border-radius: 4px;
    margin: 11px 4px;
    padding: 0 16px;
    height: 36px;
    min-width: 54px;
}

input[type="submit"]:hover {
    border: 1px solid #dadce0;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}

.audio-search-icon {
    float: right;
    position: absolute;
    height: 24px;
    width: 24px;
}

.bottom-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: #f2f2f2;
    align-items: center;
    display: flex;
}

.bottom-nav li {
    display: inline;
}

.bottom-nav a {
    display: inline-block;
    padding: 10px;
    color: #70757a;
    text-decoration: none;
}

.bottom-nav a:hover {
    text-decoration: underline;
}

#leaf {
    height: 14px;
}